.container {
  align-content: center;
  background-color: blue;
}
.section {
  align-content: center;
  padding-left: 20%;
  width: 150%;
}
.text-left {
  float: left;
}
.runTime {
  padding-left: 50%;
}
.rightwrongdisplay {
  padding-left: 50%;
}
.high-score-b {
  float: right;
}
